html {
	height: 100%;
	color: #222;
	font: 14px/19px Helvetica,Arial,sans-serif;
	background-color: #fff;
	overflow-y: scroll;
	-webkit-font-smoothing: subpixel-antialiased;
}

img {
	vertical-align: middle;
}

body {
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100%;
	overflow-x: hidden;
}

header {
	margin-bottom: 15px;
}

a {
	color: #08c;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #68ccf2;
}

a:visited {
	color: #08c;
}

a:visited:hover {
	color: #68ccf2;
}

ul, ol, dd {
	margin: 0 0 9px 25px;
	padding: 0;
}

fieldset {
	padding: 1.5em;
}

table td {
	padding: .75rem;
}

div#top-navbar.container {
	text-align: right;
	margin-top: 1em;
}

div#top-navbar.container span#top-navbar-links > a:hover {
	color: #68ccf2;
}

.d-header {
	min-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	padding-top: 3px;
	background-color: #fff;
	box-shadow: 0 2px 4px -2px rgba(51,51,51,0.25);
}

.d-header .contents {
	margin: 10px 0;
}

.d-header .title {
	display: table;
	float: left;
	height: 40px;
}

.d-header .title > a {
	display: table-cell;
	vertical-align: middle;
}

.d-header #site-logo {
	max-height: 40px;
}

.d-header .panel {
	float: right;
	position: relative;
}



.d-header .current-username {
	float: left;
}

.d-header .current-username a {
	display: block;
	margin-top: 10px;
}

.d-header .icons {
	float: left;
	text-align: center;
	margin: 0 0 0 5px;
	list-style: none;
}

.d-header .icons>li {
	float: left;
}

.d-header .icons [class^="fa fa-"] {
	width: 32px;
	height: 32px;
	font-size: 20px;
	line-height: 32px;
	display: inline-block;
	margin-right: 0;
}

.d-header .icons .icon {
	display: block;
	padding: 3px;
	color: #999;
	text-decoration: none;
	cursor: pointer;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.d-header .icons .icon:hover {
	color: #222;
	background-color: #e9e9e9;
}

.d-header .icons .icon.active {
	color: #7b7b7b;
	background-color: #fff;
	cursor: default;
	border-top: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

.d-header .icons .notifications {
	position: relative;
}

.dropdown {
	position: relative;
}

.d-dropdown {
	position: absolute;
	background: #fff;
	max-height: 417px;
	top: 100%;
	right: 0;
	z-index: 1100;
	overflow: auto;
	border: 1px solid #e9e9e9;
	padding: 5px;
	box-shadow: 0 2px 2px rgba(34,34,34,0.4);
}

.d-dropdown ul {
	margin: 0;
	list-style: none;
}

.d-dropdown ul li {
	padding: 5px;
}

.d-dropdown ul li .fa {
	margin-right: 3px;
}

.d-dropdown ul li.category-links {
	display: inline-block;
}

section.d-dropdown {
	width: auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

#main {
	position: relative;
	margin-bottom: 132px;
}

.container {
	max-width: 1110px;
	margin-right: auto;
	margin-left: auto;
}

#main-outlet {
	padding-top: 82px;
}

div.contents.body-page {
	border-top: 1px solid #e9e9e9;
}

.list-controls .nav {
	float: left;
	margin-bottom: 18px;
}

.nav-dropdown {
	/*display: block;*/
	display: none; /* fixed by our js file */
	float: left;
	list-style: none;
	margin: 0 10px 0 0;
	padding: 0;
}

.nav-dropdown li {
	float: left;
	margin-right: 5px;
}

.nav-dropdown a.nav-dropdown-item, .nav-dropdown a.nav-dropdown-button {
	display: inline-block;
	line-height: 24px;
	float: left;
	font-size: 16px;
	background-color: #eee;
	color: #333;
}

.nav-dropdown a.nav-dropdown-item {
	padding: 3px 12px;
	white-space: nowrap;
}

.nav-dropdown a.nav-dropdown-button {
	height: 24px;
	width: 10px;
	text-align: center;
	padding: 3px 9px;
	border-left: 1px solid rgba(0,0,0,0.15);
}

.nav-dropdown:hover > section {
	visibility: hidden;
}

.nav-dropdown > section {
	visibility: hidden;
	position: absolute;
	border: 1px solid #e9e9e9;
	background-color: #fff;
	padding: 8px 7px 0 7px;
	margin-top: 30px;
	min-width: 138px;
	padding: 0.5rem 0.8rem;
	background-color: #fff;
}

.nav-dropdown > section > div {
	margin-bottom: 7px;
	padding: 0.5em 0.5em;
	background-color: #eee;
}

.nav-pills, .nav-stacked, ul.preftoc {
	margin-left: 0;
	list-style: none;
}

.nav-pills > li, ul.preftoc li {
	float: left;
	margin-right: 5px;
}

/*
.nav-pills > li.selected {
	color: #064661 !important;
	background-color: #96C5DA;
}*/

.nav-pills > li > a, ul.preftoc > li > a {
	display: inline-block;
	border: none;
	padding: 5px 12px;
	color: #222;
	font-size: 16px;
	line-height: 20px;
	-webkit-transition: background-color 150ms ease;
	-moz-transition: background-color 150ms ease;
	-ms-transition: background-color 150ms ease;
	-o-transition: background-color 150ms ease;
	transition: background-color 150ms ease;
}

.nav-pills > li > a:hover, ul.preftoc > li > a:hover {
	color: #e45735;
	background-color: #f7cdc2;
}

.nav-pills > li.active > a, .nav-pills > li > a.active, li.selected {
	color: #fff !important;
	background-color: #e45735;
}

li.selected a {
	color: #fff;
}

i.fa {
	margin-right: 5px;
}


.clearfix:before, .clearfix:after, 
.nav-pills:before, .nav-pills:after,
.container:before, .container:after {
	display: table;
	content: " ";
}

.clearfix:after, .nav-pills:after, .container:after {
	clear: both;
}

.row:before, .row:after {
	display: table;
	content: "";
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	background-color: #f8d5cd;
	color: #c09853;
}

.alert.alert-info {
	background-color: #e0f5ff;
	color: #222;
}

#footer .container {
	height: 50px;
}

a#current-user:focus + section#user-dropdown {
	display: block;
}

.btn, div.editButtons input {
	display: inline-block;
	margin: 0;
	padding: 6px 12px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	cursor: pointer;
	border: none;
	color: #222;
	font-weight: normal;
	background: #e9e9e9;
}

a.btn:visited {
	color: #222;
}

.btn:hover, a.btn:hover, div.editButtons input:hover {
	background: #aaa;
	color: #fff;
}

.btn-danger {
	color: #fff;
	font-weight: normal;
	background: #e45735;
}

#mw-content-text {
	margin-top: 1rem;
}

#userloginform  form  h2 {
	display: none;
}

h1#firstHeading.firstHeading:after {
	content: '';
	position: relative;
	display: block;
	width: 75px;
	height: 2px;
	background: #3C3C3C;
	margin-top: 15px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
	margin: 0;
	/*background-color: rgb(25,96,158);*/
	min-height: 1em;
}

footer .container .contents {
	padding-top: 10px;
}

.angle-blue {
	position: absolute;
	left: 0px;
	bottom: 3rem;
	width: 0;
	border-bottom-color: rgb(25,96,158);
	border-bottom-style: solid;
	border-bottom-width: 125px;
	border-right-color: rgba(0, 0, 0, 0);
	border-right-style: solid;
	border-right-width: 2000px;
	border-top-color: rgba(0, 0, 0, 0);
	border-top-style: solid;
	border-top-width: 0px;
	margin: 0;
}

.mw-allpages-table-chunk, #mw-subcategories {
	background-color: #EDF4F8;
}

#mw-subcategories, body.mw-special-Contributions #mw-content-text ul, .mw-allpages-table-chunk {
	padding: 10px;
	padding-top: 0;
	border-top: 1px solid #4386AD;
	border-top: 10px solid #4386AD;
}

.mw-allpages-table-chunk, body.mw-special-Contributions #mw-content-text ul {
	background-color: #EDF4F8;
	/* border: 1px solid #95BED6; */
	margin: 12px;
}

body.mw-special-Contributions #mw-content-text ul {
	margin: 0;
}

#mw-content-text ul li {
	padding: 3px;
	list-style: none;
}

body.mw-special-Contributions #mw-content-text ul li, #mw-content-text ul li {
	padding: 3px;
	list-style: none;
}

.wikiEditor-ui textarea#wpTextbox1 {
	width: 100%;
	padding: 5px;
}


.hide {
	display: none;
}

@media screen {
	#main-outlet div.printfooter {
		display: none;
	}
}

@media screen and (min-width: 699px) and (max-width: 1130px) {
	.container, .full-width {
		margin: 0 3em;
	}	
}

@media screen and (max-width: 699px) {
	.container, .full-width {
		width: 950px;
		margin: 0 1.5em;
	}
}
