html {
	height: 100%;
	color: #222;
	font: 14px/19px Helvetica,Arial,sans-serif;
	background-color: #fff;
	overflow-y: scroll;
	-webkit-font-smoothing: subpixel-antialiased;
}

img {
	vertical-align: middle;
}

body {
	background-attachment: fixed;
	background-size: cover;
	min-height: 100%;
}

a {
	color: #08c;
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	color: #08c;
}

ul, ol, dd {
	margin: 0 0 9px 25px;
	padding: 0;
}

div#top-navbar.container {
	text-align: right;
	margin-top: 1em;
}

div#top-navbar.container span#top-navbar-links > a:hover {
	color: #68ccf2;
}

.d-header {
	min-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	padding-top: 3px;
	background-color: #fff;
	box-shadow: 0 2px 4px -2px rgba(51,51,51,0.25);
}

.d-header .contents {
	margin: 10px 0;
}

.d-header .title {
	display: table;
	float: left;
	height: 40px;
}

.d-header .title > a {
	display: table-cell;
	vertical-align: middle;
}

.d-header #site-logo {
	max-height: 40px;
}

.d-header .panel {
	float: right;
	position: relative;
}

.d-header .current-username {
	float: left;
}

.d-header .current-username a {
	display: block;
	margin-top: 10px;
}

.d-header .icons {
	float: left;
	text-align: center;
	margin: 0 0 0 5px;
	list-style: none;
}

.d-header .icons>li {
	float: left;
}

.d-header .icons [class^="fa fa-"] {
	width: 32px;
	height: 32px;
	font-size: 20px;
	line-height: 32px;
	display: inline-block;
}

.d-header .icons .icon {
	display: block;
	padding: 3px;
	color: #999;
	text-decoration: none;
	cursor: pointer;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.d-header .icons .icon:hover {
	color: #222;
	background-color: #e9e9e9;
}

.d-header .icons .notifications {
	position: relative;
}

.dropdown {
	position: relative;
}

.d-dropdown {
	display: none;
	position: absolute;
	background: #fff;
	max-height: 417px;
	top: 100%;
	right: 0;
	z-index: 1100;
	overflow: auto;
	border: 1px solid #e9e9e9;
	padding: 5px;
	box-shadow: 0 2px 2px rgba(34,34,34,0.4);
}

.d-dropdown#user-dropdown {
	width: 118px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

header {
	margin-bottom: 15px;
}

#main {
	position: relative;
}

.container {
	max-width: 1110px;
	margin-right: auto;
	margin-left: auto;
}

#main-outlet {
	padding-top: 82px;
}

.list-controls .nav {
	float: left;
	margin-bottom: 18px;
}

.nav-pills, .nav-stacked {
	margin-left: 0;
	list-style: none;
}

.nav-pills > li {
	float: left;
	margin-right: 5px;
}

.nav-pills > li.active > a, .nav-pills > li > a.active {
	color: #fff;
	background-color: #e45735;
}

.nav-pills > li > a {
	border: none;
	padding: 5px 12px;
	color: #222;
	font-size: 16px;
	line-height: 20px;
}

.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.row:before, .row:after {
	display: table;
	content: "";
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	background-color: #f8d5cd;
	color: #c09853;
}

.alert.alert-info {
	background-color: #e0f5ff;
	color: #222;
}

#footer .container {
	height: 50px;
}

footer .container .contents {
	padding-top: 10px;
}

@media screen and (max-width: 699px)
.container, .full-width {
	width: 950px;
}